.id-card {
  height: 210px;
  width: 800px;
  border: solid black 3px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.id-card img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.info-div {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.info-div span {
  padding-bottom: 10px;
}